NatxoSergiProyecte/WebApplication1/Web References/localhost/WebService1.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="HelloWorld">
        <s:complexType />
      </s:element>
      <s:element name="HelloWorldResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="HelloWorldResult" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="Login">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="user" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="LoginResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="LoginResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="initiateSesion">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="initiateSesionResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initiateSesionResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="initiateSesionRecepcionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="user" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="pass" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="initiateSesionRecepcionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="initiateSesionRecepcionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataClientResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataClientResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataRecepcionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataRecepcionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataRecepcionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="role" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="dataReserveResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="dataReserveResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="id" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="deleteReserveResponse">
        <s:complexType />
      </s:element>
      <s:element name="addReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRecepcionist" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idnClient" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrivalDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeRoom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addReserveResponse">
        <s:complexType />
      </s:element>
      <s:element name="addClient">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idnClient" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="nameClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="passClient" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="surname" type="s:string" />
            <s:element minOccurs="1" maxOccurs="1" name="creditCard" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="addClientResponse">
        <s:complexType />
      </s:element>
      <s:element name="searchClientWithName">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="name" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="searchClientWithNameResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="searchClientWithNameResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientByRecepcionist">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="idRecepcionist" type="s:int" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="getClientByRecepcionistResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="getClientByRecepcionistResult">
              <s:complexType>
                <s:sequence>
                  <s:any minOccurs="0" maxOccurs="unbounded" namespace="http://www.w3.org/2001/XMLSchema" processContents="lax" />
                  <s:any minOccurs="1" namespace="urn:schemas-microsoft-com:xml-diffgram-v1" processContents="lax" />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modifyReserve">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="1" maxOccurs="1" name="reserve" type="s:int" />
            <s:element minOccurs="1" maxOccurs="1" name="idnClient" type="s:int" />
            <s:element minOccurs="0" maxOccurs="1" name="arrivalDate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="finishdate" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="typeRoom" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="modifyReserveResponse">
        <s:complexType />
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="HelloWorldSoapIn">
    <wsdl:part name="parameters" element="tns:HelloWorld" />
  </wsdl:message>
  <wsdl:message name="HelloWorldSoapOut">
    <wsdl:part name="parameters" element="tns:HelloWorldResponse" />
  </wsdl:message>
  <wsdl:message name="LoginSoapIn">
    <wsdl:part name="parameters" element="tns:Login" />
  </wsdl:message>
  <wsdl:message name="LoginSoapOut">
    <wsdl:part name="parameters" element="tns:LoginResponse" />
  </wsdl:message>
  <wsdl:message name="initiateSesionSoapIn">
    <wsdl:part name="parameters" element="tns:initiateSesion" />
  </wsdl:message>
  <wsdl:message name="initiateSesionSoapOut">
    <wsdl:part name="parameters" element="tns:initiateSesionResponse" />
  </wsdl:message>
  <wsdl:message name="initiateSesionRecepcionistSoapIn">
    <wsdl:part name="parameters" element="tns:initiateSesionRecepcionist" />
  </wsdl:message>
  <wsdl:message name="initiateSesionRecepcionistSoapOut">
    <wsdl:part name="parameters" element="tns:initiateSesionRecepcionistResponse" />
  </wsdl:message>
  <wsdl:message name="dataClientSoapIn">
    <wsdl:part name="parameters" element="tns:dataClient" />
  </wsdl:message>
  <wsdl:message name="dataClientSoapOut">
    <wsdl:part name="parameters" element="tns:dataClientResponse" />
  </wsdl:message>
  <wsdl:message name="dataRecepcionistSoapIn">
    <wsdl:part name="parameters" element="tns:dataRecepcionist" />
  </wsdl:message>
  <wsdl:message name="dataRecepcionistSoapOut">
    <wsdl:part name="parameters" element="tns:dataRecepcionistResponse" />
  </wsdl:message>
  <wsdl:message name="dataReserveSoapIn">
    <wsdl:part name="parameters" element="tns:dataReserve" />
  </wsdl:message>
  <wsdl:message name="dataReserveSoapOut">
    <wsdl:part name="parameters" element="tns:dataReserveResponse" />
  </wsdl:message>
  <wsdl:message name="deleteReserveSoapIn">
    <wsdl:part name="parameters" element="tns:deleteReserve" />
  </wsdl:message>
  <wsdl:message name="deleteReserveSoapOut">
    <wsdl:part name="parameters" element="tns:deleteReserveResponse" />
  </wsdl:message>
  <wsdl:message name="addReserveSoapIn">
    <wsdl:part name="parameters" element="tns:addReserve" />
  </wsdl:message>
  <wsdl:message name="addReserveSoapOut">
    <wsdl:part name="parameters" element="tns:addReserveResponse" />
  </wsdl:message>
  <wsdl:message name="addClientSoapIn">
    <wsdl:part name="parameters" element="tns:addClient" />
  </wsdl:message>
  <wsdl:message name="addClientSoapOut">
    <wsdl:part name="parameters" element="tns:addClientResponse" />
  </wsdl:message>
  <wsdl:message name="searchClientWithNameSoapIn">
    <wsdl:part name="parameters" element="tns:searchClientWithName" />
  </wsdl:message>
  <wsdl:message name="searchClientWithNameSoapOut">
    <wsdl:part name="parameters" element="tns:searchClientWithNameResponse" />
  </wsdl:message>
  <wsdl:message name="getClientByRecepcionistSoapIn">
    <wsdl:part name="parameters" element="tns:getClientByRecepcionist" />
  </wsdl:message>
  <wsdl:message name="getClientByRecepcionistSoapOut">
    <wsdl:part name="parameters" element="tns:getClientByRecepcionistResponse" />
  </wsdl:message>
  <wsdl:message name="modifyReserveSoapIn">
    <wsdl:part name="parameters" element="tns:modifyReserve" />
  </wsdl:message>
  <wsdl:message name="modifyReserveSoapOut">
    <wsdl:part name="parameters" element="tns:modifyReserveResponse" />
  </wsdl:message>
  <wsdl:portType name="WebService1Soap">
    <wsdl:operation name="HelloWorld">
      <wsdl:input message="tns:HelloWorldSoapIn" />
      <wsdl:output message="tns:HelloWorldSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="Login">
      <wsdl:input message="tns:LoginSoapIn" />
      <wsdl:output message="tns:LoginSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="initiateSesion">
      <wsdl:input message="tns:initiateSesionSoapIn" />
      <wsdl:output message="tns:initiateSesionSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="initiateSesionRecepcionist">
      <wsdl:input message="tns:initiateSesionRecepcionistSoapIn" />
      <wsdl:output message="tns:initiateSesionRecepcionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dataClient">
      <wsdl:input message="tns:dataClientSoapIn" />
      <wsdl:output message="tns:dataClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dataRecepcionist">
      <wsdl:input message="tns:dataRecepcionistSoapIn" />
      <wsdl:output message="tns:dataRecepcionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="dataReserve">
      <wsdl:input message="tns:dataReserveSoapIn" />
      <wsdl:output message="tns:dataReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="deleteReserve">
      <wsdl:input message="tns:deleteReserveSoapIn" />
      <wsdl:output message="tns:deleteReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addReserve">
      <wsdl:input message="tns:addReserveSoapIn" />
      <wsdl:output message="tns:addReserveSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <wsdl:input message="tns:addClientSoapIn" />
      <wsdl:output message="tns:addClientSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="searchClientWithName">
      <wsdl:input message="tns:searchClientWithNameSoapIn" />
      <wsdl:output message="tns:searchClientWithNameSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="getClientByRecepcionist">
      <wsdl:input message="tns:getClientByRecepcionistSoapIn" />
      <wsdl:output message="tns:getClientByRecepcionistSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="modifyReserve">
      <wsdl:input message="tns:modifyReserveSoapIn" />
      <wsdl:output message="tns:modifyReserveSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebService1Soap" type="tns:WebService1Soap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateSesion">
      <soap:operation soapAction="http://tempuri.org/initiateSesion" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateSesionRecepcionist">
      <soap:operation soapAction="http://tempuri.org/initiateSesionRecepcionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataClient">
      <soap:operation soapAction="http://tempuri.org/dataClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataRecepcionist">
      <soap:operation soapAction="http://tempuri.org/dataRecepcionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataReserve">
      <soap:operation soapAction="http://tempuri.org/dataReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReserve">
      <soap:operation soapAction="http://tempuri.org/deleteReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReserve">
      <soap:operation soapAction="http://tempuri.org/addReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap:operation soapAction="http://tempuri.org/addClient" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchClientWithName">
      <soap:operation soapAction="http://tempuri.org/searchClientWithName" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientByRecepcionist">
      <soap:operation soapAction="http://tempuri.org/getClientByRecepcionist" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyReserve">
      <soap:operation soapAction="http://tempuri.org/modifyReserve" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebService1Soap12" type="tns:WebService1Soap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="HelloWorld">
      <soap12:operation soapAction="http://tempuri.org/HelloWorld" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="Login">
      <soap12:operation soapAction="http://tempuri.org/Login" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateSesion">
      <soap12:operation soapAction="http://tempuri.org/initiateSesion" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="initiateSesionRecepcionist">
      <soap12:operation soapAction="http://tempuri.org/initiateSesionRecepcionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataClient">
      <soap12:operation soapAction="http://tempuri.org/dataClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataRecepcionist">
      <soap12:operation soapAction="http://tempuri.org/dataRecepcionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="dataReserve">
      <soap12:operation soapAction="http://tempuri.org/dataReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="deleteReserve">
      <soap12:operation soapAction="http://tempuri.org/deleteReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addReserve">
      <soap12:operation soapAction="http://tempuri.org/addReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="addClient">
      <soap12:operation soapAction="http://tempuri.org/addClient" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="searchClientWithName">
      <soap12:operation soapAction="http://tempuri.org/searchClientWithName" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="getClientByRecepcionist">
      <soap12:operation soapAction="http://tempuri.org/getClientByRecepcionist" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="modifyReserve">
      <soap12:operation soapAction="http://tempuri.org/modifyReserve" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebService1">
    <wsdl:port name="WebService1Soap" binding="tns:WebService1Soap">
      <soap:address location="https://localhost:44372/WebService1.asmx" />
    </wsdl:port>
    <wsdl:port name="WebService1Soap12" binding="tns:WebService1Soap12">
      <soap12:address location="https://localhost:44372/WebService1.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>